<%= link_to link, target: '_blank', class: 'no-decoration' do %>
	<div class="card card-orange">
			<div class="card-body text-center">
				<p class='mb-1'><strong><%= title %></strong></p>
				<p class='mb-1'><i class="fa fa-download"></i> завантажити (.pdf)</p>
			</div>
		</div>
<% end %>