@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select.scss';

body { 
	padding-top: 95px; 
	padding-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link .navbar-text {
  font-size: large;
}

.form-control:disabled {
	background-color: white;
}

.form-control::-webkit-input-placeholder {
	color: black;
}

.table-vertical {
  height:400px;  
  overflow:scroll;
  display:block;
}

.table-vertical thead tr:nth-child(1) th{
background: light;
position: sticky;
top: 0;
margin: 5px;
}
